.cd-headline.type .cd-words-wrapper.waiting::after{
  -webkit-animation:cd-pulse 1s infinite;
  -moz-animation:cd-pulse 1s infinite;
  animation:cd-pulse 1s infinite;
}

.cd-headline.type .cd-words-wrapper.selected{
  background-color:#aebcb9;
}

.cd-headline.type .cd-words-wrapper.selected::after{
  visibility:hidden;
}

.cd-headline.type .cd-words-wrapper.selected b{
  color:#0d0d0d;
}

.cd-headline.type b{
  visibility:hidden;
}

.cd-headline.type b.is-visible{
  visibility:visible;
}

.cd-headline.type i{
  position:absolute;
  visibility:hidden;
}

.cd-headline.type i.in{
  position:relative;
  visibility:visible;
}

.cd-headline.type .cd-words-wrapper{
  vertical-align:top;
  overflow:hidden;
}

.cd-headline.type .cd-words-wrapper::after{
  content:'';
  position:absolute;
  right:0;
  top:50%;
  bottom:auto;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
  height:90%;
  width:1px;
  background-color:#aebcb9;
}

.cd-words-wrapper{
  display:inline-block;
  position:relative;
  text-align:left;
}

.cd-words-wrapper b{
  display:inline-block;
  position:absolute;
  text-align:center;
  left:0;
  top:0;
}

.cd-words-wrapper b.is-visible{
  position:relative;
}

.no-js .cd-words-wrapper b{
  opacity:0;
}

.no-js .cd-words-wrapper b.is-visible{
  opacity:1;
}
